body {
    font-size: 15px;
  }
  
  button {
    background: #ffc600;
    border: 0;
    padding: 10px 20px;
  }
  
  img {
    max-width: 100%;
  }
  
 .top {
    display: grid;
    grid-template-areas: 
    "hero menu";
  }
  .middle {
    display: grid;
    grid-template-areas: 
    "hero menu";
  }


  .hero{
    grid-area: hero;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: block;
    font-size: 30px;
    padding: 10px;
  }

  .menu{
    display:grid;
    padding: 0px;
    margin: 10px;
    grid-template-columns: auto;
    list-style: none;
  }
  .menu1{
    display:grid;
    background-color: aliceblue;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    margin: 10px;
    grid-template-columns: auto;
    list-style: none;
  }
  .menu a{
    background-color: rgb(255, 246, 127);
    display: block;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    list-style: none;
  }

  [aria-controls="menu-list"] {
   display: none;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));  }

.features{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

}
.feature{
  background-color: rgb(119, 172, 216);
  padding: 10px;
  text-align: center;
  box-shadow: #ffc600;
  
}

.hero-logo{
  grid-area: hero;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr)) ;
    background-color: rgb(81, 83, 196);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: block;
    font-size: 30px;
    padding: 10px;

}

